.navbar-container {
    color: white;

    padding: 0px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    color: white;    
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0px;
    transition: color .2s ease-in-out;
}

.navbar-logo:hover {
    color: rgba(var(--cor-destaque), 1.0);
}
.navbar-logo:hover > span {
    color: whitesmoke;
}
.navbar-logo > span {
    transition: color .2s ease-in-out;
    color: rgba(var(--cor-destaque), 1.0);
    font-weight: bold;
}

.navbar-menu {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: color .2s ease-in-out;
    padding: 10px;
}
.navbar-menu:hover {
    color: rgba(var(--cor-destaque), 1.0);
}