.resposta {
    width: 100%;
    max-width: 1040px;
    padding: 15px;
    box-sizing: border-box;

    border-radius: 8px;
    border: 1px solid grey;
}
.resposta > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.resposta > div > p {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.resposta-votos {
    width: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}
.resposta-votos > a {
    color: var(--cor-destaque);
    text-align: left;
}
.resposta-votos > b {
    font-size: large;
}