.hero-container {
    background-color: rgba(var(--cor-destaque), 0.5);
    color: whitesmoke;
    padding: 15px 30px;
    border-radius: 8px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-container > h3 {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

.hero-container > input {
    border: 2px solid rgba(var(--cor-destaque), 0.35);
    border-radius: 8px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    outline: none;

    font-size: 16px;
}
.hero-container > input:focus {
    border: 2px solid rgba(var(--cor-destaque), 0.89);
}