.comentario-form {
    color: white;
    width: 95%;
    margin-left: 45px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.comentario-form form {
    width: 100%;
}

.comentario-form form textarea {
    font-size: small;

    width: 98%;
}

.cform-btns {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}