.pergunta-form-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 25px;
    padding: 20px;

    border-radius: 8px;
    border: 1px solid grey;
}

.pergunta-form-page label {
    color: whitesmoke;
}

.pergunta-form-page input, textarea {
    width: 100%;
    max-width: 980px;
    padding: 8px;
    font-size: 16px;
}

.pergunta-form-page textarea {
    height: 55px;
}

.pergunta-form-page div {
    display: flex;
    gap: 15px;

    margin-top: 15px;
}
